body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header {
    background-image: url(../img/background/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
}

.nav-menu-wrapper {
    background: rgba(94, 93, 88, 0.6);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper {
    margin: 26px 0 27px;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.logo span {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;

}

.logo span:last-child {
    color: #18CFAB;
}

.hexagon {
    margin-right: 6px;
}

.logoLetter {
    position: absolute;
    left: 17px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;

}

.menu li {
    display: inline-block;
    margin-right: 22px;
}

.menu a:hover {
    color: #18CFAB;
}

.menu a {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.search {
    height: 20px;
    display: inline;
    cursor: pointer;
}

.header__mainText {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.header__mainText h3 {
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 264px;
    text-transform: uppercase;
}

.header__mainText h3>span {
    color: #18CFAB;
}

.header__mainText h2 {
    font-weight: 700;
    font-size: 78px;
    color: #FFFFFF;
    margin-top: 22px;
    text-transform: uppercase;
}

.header__mainText p {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    margin-top: 22px;
    margin-bottom: 134px;
}

.headerBTN {
    display: flex;
    justify-content: space-between;
    max-width: 364px;
    padding-bottom: 243px;
    margin: 0 auto;


    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.headerBTN div {
    border-radius: 4px;
    border-top: 5px solid #FFFFFF;
    cursor: pointer;
}

.headerBTN__one {
    padding: 16px 18px;
    background-color: #18CFAB;
}

.headerBTN__two {
    padding: 16px 12px;
    background-color: #00CBF6;
}



/* Options section */

.options {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.options div {
    text-align: center;
    padding-top: 85px;
    padding-bottom: 110px;
}

.optionsOdd {
    background-color: #1C2A33;
    color: #18CFAB;
}

.optionsOdd p {
    margin-top: 47px;
}

.optionsEven {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.optionsEven p {
    margin-top: 68px;
}

.options p {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}


/* Our Services section */

.OurServices h4 {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
    margin-top: 85px;
    margin-bottom: 20px;
}

.lineOne {
    margin: 0 auto;
    width: 75.54px;
    height: 1px;
    background-color: #18CFAB;
}

.lineTwo {
    margin: 0 auto;
    position: relative;
    top: 4px;
    left: 20px;
    width: 75.54px;
    height: 1px;
    background-color: #18CFAB;
}


.tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    margin-top: 74px;
}

.tabs-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    cursor: pointer;
    background: #F8FCFE;
    border: 1.5px solid #EDEFEF;
    padding: 16px 0;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
}

.tabs-title-active {
    color: #FFFFFF;
    background-color: #18CFAB;
}

.tabs-content {
    margin-top: 28px;
    margin-bottom: 90px;
}

.tabs-content li>img {
    width: 192px;
    display: inline-block;
}

.tabs-content li>p {
    width: 952px;
    display: inline-block;
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
    color: #777777;

}

.hide {
    display: none;
}

/* What people say section */

.aboutHam {
    background-image: url(../img/background/whatPeopleSay.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 115px;
}

.aboutHamTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutHamTitleText {
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.aboutHamTitle>svg:first-of-type {
    margin-bottom: 70px;
}

.aboutHamTitle>svg:last-of-type {
    margin-bottom: 40px;
}

.aboutTheSpecialist {
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutTheHamSpecialistData {
    margin-bottom: 40px;
    min-height: 100px;
}


.aboutTheHamSpecialistName {
    color: #18CFAB;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
}

.aboutTheHamSpecialistPosition {
    font-size: 13px;
    margin-bottom: 40px;
}

.aboutTheHamCircle {
    border: 13px solid #023020;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 100px;
    margin-bottom: 60px;
}

.aboutTheHamCircle>img {
    width: 100%;
    height: 100%;
}

.aboutTheHamspecialistPhotoSlider {
    display: flex;
    gap: 40px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.aboutTheHamspecialistPhotoCircle {
    width: 70px;
    height: 70px;
    border: 5px solid #023020;
    overflow: hidden;
    border-radius: 100px;
    transform: translateY(0);
    animation: dropCircle 1.5s ease;
}

@keyframes dropCircle {
    from {
        transform: translateY(-20px);
    }

    ;

    to {
        transform: translateY(0px);
    }
}

.aboutTheHamspecialistPhotoCircle>img {
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: pointer;
}


.activeSpecialistInformation {
    transform: translateY(-20px);
    animation: upCircle 0.7s ease;
}

@keyframes upCircle {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-20px);
    }
}

.swipeSlider {
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #BBBBBB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideLeft>svg {
    transform: rotate(180deg);
}

.swipeSlider:hover {
    background-color: #18CFAB;
    border: #18CFAB;
    cursor: pointer;
}

.animateTextDisplayNew {
    opacity: 1;
    animation: animateTextOn 0.7s ease forwards 2;
    animation-direction: alternate;
}

@keyframes animateTextOn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/* anchor section */

.anchor {
    text-align: center;
    height: 446px;
    background-image: url(../img/background/anchorBG.png);
}

.anchor h3 {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;

    padding-top: 126px;
    padding-bottom: 12px;
}

.anchor p {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;

    margin-bottom: 62px;
}

.anchor a {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #18CFAB;
    padding: 16px 18px;
    border-radius: 4px;
    border-top: 5px solid #FFFFFF;
}





/* Our Amazing Work section */

.OurAmazingWork-wrapper {
    background: #E9EDEF;
}

.OurAmazingWork {
    text-align: center;
}

.OurAmazingWork h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 20px;
    padding-top: 96px;
}

.OurAmazingWork_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 70px;
}

.OurAmazingWork_nav-item {
    padding: 12px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;

    cursor: pointer;
    background: #E9EDEF;
    border: 1.5px solid #DADADA;
}

.OurAmazingWork_nav-item:first-child {
    padding-left: 28px;
    padding-right: 28px;
}

.OurAmazingWork_nav-item--active {
    background-color: #18CFAB;
    border: 1.5px solid #18CFAB;
    color: #FFFFFF;
}

.OurAmazingWork_nav-item:hover {
    border: 1.5px solid #18CFAB;
}

.OurAmazingWork_gallery {
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.OurAmazingWork_gallery img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 210px;
}

.galleryItem {
    position: relative;
}

.galleryItem:hover .galleryItem_img {
    opacity: 0;
}

.galleryItem:hover .galleryItem_moreIngo {
    opacity: 1;
}

.galleryItem_moreIngo {
    position: absolute;
    width: 285px;
    height: 210px;
    opacity: 0;
}

.galleryItem_moreIngo div {
    height: 3px;
    background-color: #18CFAB;
    margin-bottom: 42px;
}

.galleryItem_moreIngo img {
    width: 88px;
    height: 43px;
    margin-bottom: 40px;
}

.galleryItem_moreIngo h6 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #18CFAB;
}

.galleryItem_moreIngo p {
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
    margin-top: 10px;
}



.OurAmazingWork_loadMoreBTN {
    background-color: #18CFAB;
    margin-top: 70px;
    margin-bottom: 100px;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
}

.loadMoreBTN_wrapper {
    padding: 22px 24px;
    display: flex;
    align-items: center;
}

.OurAmazingWork_loadMoreBTN img {
    width: 18px;
    height: 19px;
    margin-right: 15px;
}

.OurAmazingWork_loadMoreBTN span {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hide_loadMore {
    display: none;
}

.hide_loadMoreBTN {
    opacity: 0;
    margin-bottom: 0;
}

/* Breaking News section */

.BreakingNews {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.BreakingNews h4 {
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    margin-top: 82px;
    margin-bottom: 24px;
}

.BreakingNews_posts {
    margin-top: 70px;
    margin-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}



.postImgAndDate {
    position: relative;
}

.post_date {
    width: 70px;
    height: 68px;
    background-color: #203E38;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
}

.post_date p:first-child {
    margin-top: 16px;
}

.post_date p:last-child {
    margin-top: 6px;
}

.BreakingNews_posts-item:hover .post_date {
    background-color: #18CFAB;
}

.BreakingNews_posts-item .postName {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.BreakingNews_posts-item .postedBy {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.BreakingNews_posts-item:hover .postName {
    color: #18CFAB;
}



/* footer section */

.footer {
    background-color: #22353F;
    text-align: center;
}

.footer p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer span {
    color: #18CFAB;
}
